Source: bluemn
Section: utils
Priority: optional
Maintainer: Development team <development@bmncoin.io>
Uploaders: Development team <development@bmncoin.io>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.bmncoin.io/
Vcs-Git: git://https://github.com/genterium-project/bluemn.git
Vcs-Browser: https://https://github.com/genterium-project/bluemn

Package: bluemnd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Bluemn is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bluemn uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bluemn Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, bluemnd, and the CLI tool
 bluemn-cli to interact with the daemon.

Package: bluemn-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Bluemn is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bluemn uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bluemn Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Bluemn-Qt, a GUI for Bluemn based on Qt.

Package: bluemn-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Bluemn is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Bluemn uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bluemn Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bluemn-tx, a command-line transaction creation
 tool which can be used without a bluemn daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
